In [1]:
import pandas as pd

In [5]:
df = pd.read_html("https://vincentarelbundock.github.io/Rdatasets/datasets.html")

In [6]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.3-cp310-cp310-manylinux_2_28_x86_64.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 66.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
df1 = df[0]

In [12]:
type(df1)

pandas.core.frame.DataFrame

In [13]:
df1

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601.0,9.0,2.0,0.0,2.0,0.0,7.0,CSV,DOC
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80.0,2.0,0.0,0.0,0.0,0.0,2.0,CSV,DOC
2,AER,BankWages,Bank Wages,474.0,4.0,2.0,0.0,3.0,0.0,1.0,CSV,DOC
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31.0,5.0,0.0,0.0,0.0,0.0,5.0,CSV,DOC
4,AER,BondYield,Bond Yield Data,60.0,2.0,0.0,0.0,0.0,0.0,2.0,CSV,DOC
...,...,...,...,...,...,...,...,...,...,...,...,...
2260,wooldridge,wage2,wage2,935.0,17.0,4.0,0.0,0.0,0.0,17.0,CSV,DOC
2261,wooldridge,wagepan,wagepan,4360.0,44.0,37.0,0.0,0.0,0.0,44.0,CSV,DOC
2262,wooldridge,wageprc,wageprc,286.0,20.0,0.0,0.0,0.0,0.0,20.0,CSV,DOC
2263,wooldridge,wine,wine,21.0,5.0,0.0,1.0,0.0,0.0,4.0,CSV,DOC
2264,Package Item Title Rows Cols n_binary n_charac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [15]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [31]:
s = df2['Name'][0:10]

In [32]:
s[0:10]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [33]:
type(s)  #incices can be seen in series but not in list

pandas.core.series.Series

In [36]:
l = ['sai','b','c','d','e','f','g','h','i','j']

In [39]:
s1 = pd.Series(list(s),index = l)

In [40]:
s1

sai                              Braund, Mr. Owen Harris
b      Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                 Heikkinen, Miss. Laina
d           Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                               Allen, Mr. William Henry
f                                       Moran, Mr. James
g                                McCarthy, Mr. Timothy J
h                         Palsson, Master. Gosta Leonard
i      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                    Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [41]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [44]:
s1[0]

'Braund, Mr. Owen Harris'

In [45]:
s1['sai']

'Braund, Mr. Owen Harris'

In [46]:
s[0]

'Braund, Mr. Owen Harris'

In [47]:
s['sai']

KeyError: 'sai'

In [48]:
s1.append("sai")

/tmp/ipykernel_2292/2637949262.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append("sai")

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [57]:
s2 = s.append(s1)

/tmp/ipykernel_2292/3943142441.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s.append(s1)

In [58]:
s2

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
sai                              Braund, Mr. Owen Harris
b      Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                 Heikkinen, Miss. Laina
d           Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                               Allen, Mr. William Henry
f                                       Moran, Mr. James
g                                McCarthy, Mr. Timothy J
h                         Palsson, Master. Gosta Leonard
i      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                    Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [65]:
s2['sai']

'Braund, Mr. Owen Harris'

In [77]:
s6 = pd.Series([2,5,7,11], index = [1,2,'i',4])

In [83]:
s6.append(s6)

/tmp/ipykernel_2292/1717124108.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6.append(s6)

1     2
2     5
i     7
4    11
1     2
2     5
i     7
4    11
dtype: int64

'Braund, Mr. Owen Harris'

In [89]:
s6[0:6]

1     2
2     5
i     7
4    11
dtype: int64

In [90]:
s6*s6

1      4
2     25
i     49
4    121
dtype: int64

In [95]:
s8 = pd.Series([0,1,2,3,4,5],index = [0,1,2,3,4,5])

In [97]:
s6*s8   #only common indices are considered

0     NaN
1     2.0
2    10.0
3     NaN
4    44.0
5     NaN
i     NaN
dtype: float64