#### Handling Imbalanced Data

##### 1 - Up Sampling 
##### 2 - Down Sampling

In [2]:
import numpy as np
import pandas as pd

## Set random seed for reproducibility
np.random.seed(123)

#Create a data frame with two calsses 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
n_class_0

900

##### create a dataframe with Imbalanced dataset

In [5]:
class_0 = pd.DataFrame({
        'feature1' : np.random.normal(loc = 0, scale = 1 , size = n_class_0),
        'feature2' : np.random.normal(loc = 0, scale = 1 , size = n_class_0),
        'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
        'feature1' : np.random.normal(loc = 0 , scale = 1 , size = n_class_1),
        'feature2' : np.random.normal(loc = 0, scale = 1 , size = n_class_1),
        'target' : [1]*n_class_1 
})

In [6]:
class_0.head() , class_1.head()

(   feature1  feature2  target
 0 -1.085631  0.551302       0
 1  0.997345  0.419589       0
 2  0.282978  1.815652       0
 3 -1.506295 -0.252750       0
 4 -0.578600 -0.292004       0,
    feature1  feature2  target
 0 -0.300232  0.139033       1
 1 -0.632261  0.025577       1
 2 -0.204317 -0.196443       1
 3  0.213696  1.312255       1
 4  1.033878  1.187417       1)

In [7]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [8]:
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995 -0.623629  0.845701       1
996  0.239810 -1.119923       1
997 -0.868240 -0.359297       1
998  0.902006 -1.609695       1
999  0.697490  0.013570       1

[1000 rows x 3 columns]

In [9]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [10]:
df.tail()

     feature1  feature2  target
995 -0.623629  0.845701       1
996  0.239810 -1.119923       1
997 -0.868240 -0.359297       1
998  0.902006 -1.609695       1
999  0.697490  0.013570       1

In [11]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [12]:
df.target.value_counts()

0    900
1    100
Name: target, dtype: int64

In [13]:
df.target[df.target == 1].value_counts()

1    100
Name: target, dtype: int64

In [14]:
df.target[df['target'] == 0].value_counts()

0    900
Name: target, dtype: int64

#### up_sampling

In [15]:
df_minority = df[df.target == 1]
df_majority = df[df.target == 0]

In [16]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority ,replace = True ,##Sample with replacement
                                    n_samples = len(df_majority),
                                    random_state= 42
                                    )

In [17]:
df_minority_upsampled.head()

     feature1  feature2  target
951 -0.874146 -0.156083       1
992  0.196570 -0.602575       1
914 -0.067830  0.998053       1
971  0.272825  1.034197       1
960  0.870056 -0.449515       1

In [18]:
df_minority_upsampled.shape

(900, 3)

In [19]:
df_minority_upsampled.count()

feature1    900
feature2    900
target      900
dtype: int64

In [20]:
df_minority_upsampled.head()

     feature1  feature2  target
951 -0.874146 -0.156083       1
992  0.196570 -0.602575       1
914 -0.067830  0.998053       1
971  0.272825  1.034197       1
960  0.870056 -0.449515       1

In [22]:
df_upsampled  = pd.concat([df_majority,df_minority_upsampled])

In [27]:
df_upsampled.target.value_counts()

0    900
1    900
Name: target, dtype: int64

#### DOWNSAMPLING

In [29]:
import numpy as np
import pandas as pd

## Set random seed for reproducibility
np.random.seed(123)

#Create a data frame with two calsses 
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [30]:
 n_class_0, n_class_1

(900, 100)

In [31]:
class_0 = pd.DataFrame({
        'feature1' : np.random.normal(loc = 0, scale = 1 , size = n_class_0),
        'feature2' : np.random.normal(loc = 0, scale = 1 , size = n_class_0),
        'target' : [0]*n_class_0
})

class_1 = pd.DataFrame({
        'feature1' : np.random.normal(loc = 0 , scale = 1 , size = n_class_1),
        'feature2' : np.random.normal(loc = 0, scale = 1 , size = n_class_1),
        'target' : [1]*n_class_1 
})

In [35]:
df.target.value_counts()

0    900
1    100
Name: target, dtype: int64

In [36]:
#downsampling

In [37]:
df_minority = df[df.target == 1]
df_majority = df[df.target == 0]

In [38]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority,replace= False,
                                  n_samples= len(df_minority),random_state=42)

In [45]:
df_majority_downsampled.reindex()

     feature1  feature2  target
70   0.468439  1.720920       0
827  1.089165 -0.464899       0
231  0.753869 -0.969798       0
588  0.588686 -0.704720       0
39   0.283627  1.012868       0
..        ...       ...     ...
398 -0.168426  0.553775       0
76  -0.403366  0.081491       0
196 -0.269293  0.611238       0
631 -0.295829  0.671673       0
751 -0.553404  0.804438       0

[100 rows x 3 columns]

In [46]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [48]:
df_downsampled.target.value_counts()

1    100
0    100
Name: target, dtype: int64

In [74]:
df_downsampled.reset_index(inplace = True)

In [77]:
df_downsampled.drop(columns='index',inplace=True)

In [78]:
df_downsampled

     feature1  feature2  target
0   -0.300232  0.139033       1
1   -0.632261  0.025577       1
2   -0.204317 -0.196443       1
3    0.213696  1.312255       1
4    1.033878  1.187417       1
..        ...       ...     ...
195 -0.168426  0.553775       0
196 -0.403366  0.081491       0
197 -0.269293  0.611238       0
198 -0.295829  0.671673       0
199 -0.553404  0.804438       0

[200 rows x 3 columns]