In [1]:
from sklearn.preprocessing import OneHotEncoder

In [2]:
import pandas as pd

In [10]:
df = pd.DataFrame(['red','blue','green','green','red','blue'])

In [11]:
#creating an object
encoder = OneHotEncoder()

In [12]:
encoder

OneHotEncoder()

In [16]:
##we can also fit and transform individually 
encoder.fit_transform(df)

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [17]:
encoded = encoder.fit_transform(df)

In [18]:
encoder.get_feature_names_out()

array(['x0_blue', 'x0_green', 'x0_red'], dtype=object)

In [19]:
encoded.toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [20]:
df1 = pd.DataFrame(encoded.toarray())

In [23]:
df

       0
0    red
1   blue
2  green
3  green
4    red
5   blue

In [24]:
df1

     0    1    2
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  0.0  1.0  0.0
4  0.0  0.0  1.0
5  1.0  0.0  0.0

In [25]:
pd.concat([df,df1],axis= 1)

       0    0    1    2
0    red  0.0  0.0  1.0
1   blue  1.0  0.0  0.0
2  green  0.0  1.0  0.0
3  green  0.0  1.0  0.0
4    red  0.0  0.0  1.0
5   blue  1.0  0.0  0.0

In [29]:
df_OHE = pd.concat([df,df1],axis= 1)

In [34]:
df_OHE.

TypeError: 'RangeIndex' object is not callable

In [36]:
df_OHE.rename(columns = {0 : 'COLOR' ,0 : 'B' , 1 : 'G' , 2 : 'R'})

       B    B    G    R
0    red  0.0  0.0  1.0
1   blue  1.0  0.0  0.0
2  green  0.0  1.0  0.0
3  green  0.0  1.0  0.0
4    red  0.0  0.0  1.0
5   blue  1.0  0.0  0.0

In [42]:
#easy method to rename the column
df_OHE.columns = (['color','B','G','R'])

In [43]:
df_OHE

   color    B    G    R
0    red  0.0  0.0  1.0
1   blue  1.0  0.0  0.0
2  green  0.0  1.0  0.0
3  green  0.0  1.0  0.0
4    red  0.0  0.0  1.0
5   blue  1.0  0.0  0.0

In [44]:
import seaborn as sns

In [48]:
df = sns.load_dataset('diamonds')

In [50]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [56]:
df['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [61]:
df['cut'].unique()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [63]:
lst_cut = list(df['cut'].unique())

In [65]:
from sklearn.preprocessing import OneHotEncoder

In [66]:
encoder = OneHotEncoder()

In [72]:
encoder.fit_transform(df[['cut']])

<53940x5 sparse matrix of type '<class 'numpy.float64'>'
	with 53940 stored elements in Compressed Sparse Row format>

In [74]:
encoded = encoder.fit_transform(df[['cut']]).toarray()

In [75]:
lst_cut.sort()

In [76]:
lst_cut

['Fair', 'Good', 'Ideal', 'Premium', 'Very Good']

In [77]:
df3 = pd.DataFrame(encoded,columns=lst_cut)

In [79]:
df3.head()

   Fair  Good  Ideal  Premium  Very Good
0   0.0   0.0    1.0      0.0        0.0
1   0.0   0.0    0.0      1.0        0.0
2   0.0   1.0    0.0      0.0        0.0
3   0.0   0.0    0.0      1.0        0.0
4   0.0   1.0    0.0      0.0        0.0

In [82]:
final_df  = pd.concat([df['cut'],df3],axis =1)

In [83]:
final_df.head()

       cut  Fair  Good  Ideal  Premium  Very Good
0    Ideal   0.0   0.0    1.0      0.0        0.0
1  Premium   0.0   0.0    0.0      1.0        0.0
2     Good   0.0   1.0    0.0      0.0        0.0
3  Premium   0.0   0.0    0.0      1.0        0.0
4     Good   0.0   1.0    0.0      0.0        0.0